 
 
.preset-section{
  float: left;
    padding: 0% 1%;
    font-size: 12px;
} 
.bottom-block{
  display: flex;
  padding: 2% 0%;
} 
  .filterOptionsTop{
    display: flex; 
    font-size: 12px; 
    padding: 0 1%;
  } 
.filterOptionsTop span{
  margin-right: 5%;
    line-height: 26px;
}
.filterOptionsTop input{   
  border-width: 0px 0px 1px 0px; 
  outline: 0;
  width: 100px;
  margin-bottom: 4px;
}

.quantity{
  width: 10vw;
}
.filterOptions span{
  text-align: left;
  font-style: italic;
} 
.filterOptions input,.filterOptions select{
  padding-top: 10%;

}
.top-block{
  padding-top: 1%;
}
.downloadBtn:hover, .saveBtn:hover, .searchBtn:hover{
background-color: #2d5ca7;
}  
.sale-details{
  border: 1px solid black;
  width: 95vw; 
  background-color: #E6EFE3;
}
.sale-details tr:first-child{
  border-bottom: 1px solid black
}
.sale-details th, .sale-details td{
  border: 0 !important;
  font-size: 11px;
  width: 156px;
  padding: 6px;
  font-style: italic;
}

.centerText{
  display: flex;
  justify-content: center;
  padding: 3%;
}