 
.calLabel{
  color: #000;
}
.kbaseText{ 
  text-indent: 20vw;
  text-align: justify;
  letter-spacing: .5px;
} 
.btnHolder{
  padding-bottom: 2%;
    width: 100%;
    display: flex; 
} 
.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100vw;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  box-sizing: border-box;
  padding: 0% 1% !important;
  overflow-y: scroll;
  } 
  /* Force varying heights to simulate dynamic content */
  .card:first-child {
    height: 485px;
  }
  
  .card:nth-child(2) {
    height: auto;
  }
  
  .card:nth-child(3) {
    height: 265px;
  }
  .questions{
    outline: 0;
  }
 .generateData-wrapper{  
  display: flex;
  padding: 3% 1% 0% 1% !important; 
  width: 70vw;
  flex-flow: column;
  text-align: left;
 } 
.generate{
  margin-left: 0%;
    height: 30px;
    width: 165PX;
    margin-top: 2%;
    text-transform: none;
}